* {
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.container img {
    width: 100%;
    height: 100%;
}

.viewer {
    width: 52em;
    height: 38em;
    padding: 4em 0em;
    margin: auto;
    overflow: hidden;
}

.viewer img {
    border: 4px solid white;
    box-shadow: 8px 2px 30px black;
}

body {
    background: linear-gradient( to right, #29323c, #485563);
}

.slider {
    height: 5em;
    margin: 0em 3em;
}

[class*="image"] {
    width: 10em;
    height: 6em;
    display: inline-flex;
}

.myslides {
    display: none;
    animation: fade 1.9s ease;
}

.active {
    transform: scale(1.2);
    box-shadow: 1px 3px 30px black;
    border: 1px solid white;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}